h1 {
    
    font-size : 40pt;
    position : absolute;
    left : 40vw;
}


a {
    color:black;
}
a:hover {
    color:rgb(58, 33, 0);
}
a:visited {
    color: red;

}

.navbar {
    height: 100px;
    background-color: white;
    font-size: 25pt;
}



h2 {
    margin : 20px;
}

h3 {

    margin : 25px;

}

p {
    font-size: 16pt;
    margin: 10px;
}

body {
    background : tan;
}

.header {
    background-image : url('pushPopPeek/images/wood.jpg');
    width: 100vw;
    height: 20vh;
}

.description {
    font-size: 16pt;
    background : rgb(170, 124, 65);
    width: 40vw;
    position: absolute;
    left : 20vh;
    top : 350px;
}

.preview {
    font-size: 16pt;
    background : rgb(170, 124, 65);
    width: 30vw;
    flex-flow: column;
    position: absolute;
    top : 350px;
    left: 55vw;
}

.image {
    width: 30vw
}

.aspython {
    font-size: 16pt;
    background : rgb(170, 124, 65);
    width: 40vw;
    position: absolute;
    left : 20vh;
    top : 350px;
}

.big {
    font-size: 16pt;
    background : rgb(170, 124, 65);
    flex-flow: column;
    top : 350px;
    padding-left: 10vw;
    padding-bottom: 20vw;
    padding-top: 10vw;
    padding-right: 10vw;
    
}


@media only screen and (max-width: 768px)  {
    .description {
        top: inherit;
        left: 0;
        width: 100vw;
        position: relative;
    }
    .preview {
        top: inherit;
        left: 0;
        width : 100vw;
        position:relative;
        
    }
    
}